# Ignore Excel files
*.xls
*.xlsx

# Ignore environment files
.env
*.env

# Ignore models and checkpoints
backend/saved_model/
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

#Ignore logs
*.log

#Ignore virtual environments
venv/

# Ignore transaction classifier checkpoints
transaction classifier/checkpoint-*
models/

intentClassifier.pkl